.installed.cfg
bin/
develop-eggs/
parts/
*.egg-info/
include/
log/*
extends-cache/*
var/*
build
deb_dist
dist
eggs
.metadata
.project
.pydevproject
.settings
.httpauth
*.pyc
.pytest_cache
.vscode
run_debug
*.db
.venv
.tox
